
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=f71b440f6ddac63973a17c49435458ec
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress